<header id="header" class="header bg-white">
    <div class="navbar-container">
        <div class="navbar-logo">
          <a href="{{ site.baseurl }}/" title="{{site.title }}"><img src="{{ site.baseurl }}/blog_logo.png" alt="{{ site.title }}"></a><span class="subtitle">{{ site.subtitle }}</span>
        </div>
        
        <div class="navbar-menu">
            {% for link in site.links %}             
            <a href="{% unless link.external %}{{ site.baseurl }}{% endunless %}{{ link.url }}">{{ link.name }}</a>
            {% endfor %}
          </div>
        <div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form id="cb-search-btn" role="search">
         <span class="search-box">
         <input type="text" class="input" id="cb-search-content" required="true" placeholder="検索..." maxlength="30" autocomplete="off">
        </span>
            </form>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
               {% for link in site.links %}           
                <li><a href="{% unless link.external %}{{ site.baseurl }}{% endunless %}{{ link.url }}">{{ link.name }}</a></li>
                 {% endfor %}
            </ul>
        </div>
    </div>
</header>