{% assign is_post = page.date %}
<!DOCTYPE>
<html data-scribe-reduced-action-queue="true">
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
    {% include header.html %}
  </head>
<body class="bg-grey" gtools_scp_screen_capture_injected="true">

<div id="content bg-grey">
  <div class="article-content"> 
      <article class="main-content post-page" itemscope itemtype="http://schema.org/Article">
  <div class="post-header">
    <h1 class="post-title" itemprop="name headline">
      {{ page.title }}</h1>
    <div class="post-data">
        <time datetime="{{ page.date | date: '%F'}}" itemprop="datePublished">{{ page.date | date: "%F"}}
        </time>
        {% if page.category %}
        <p class="text-right"><a href="{{site.baseurl}}/tags#{{ page.category }}" style="vertical-align: middle" class="btn btn-info" title="{{ page.category }}" data-hover="{{ page.category }}">{{ page.category }}</a></p>
        {% endif %}
    </div>
  </div>
  <div id="post-content" class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname == nil and site.gitalk.clientID and site.gitalk.clientSecret and site.gitalk.repository and site.gitalk.owner and site.gitalk.admin and page.key %}
  <link rel="stylesheet" href="https://unpkg.com/gitalk@1.6.2/dist/gitalk.css">

  <div style="background-color : #f0f8ff; border-radius: 1em;">
    <div id="gitalk-container"></div>
    {% assign admin = '' %}
    {% for adminId in site.gitalk.admin %}
      {% assign admin = admin | append: ", '" | append: adminId | append: "'" %}
    {% endfor %}
    {% assign last = admin | size | minus: 1 %}
    {% assign admin = admin | slice: 2, last %}
    <script src="https://unpkg.com/gitalk@1.6.2/dist/gitalk.min.js"></script>
    <script>
      var gitalk = new Gitalk({
        clientID: '{{ site.gitalk.clientID }}',
        clientSecret: '{{ site.gitalk.clientSecret }}',
        repo: '{{ site.gitalk.repository }}',
        owner: '{{ site.gitalk.owner }}',
        admin: [{{ admin }}],
        id: '{{ page.key }}'
      });
      gitalk.render('gitalk-container');
    </script>
  </div>
  
{% endif %}
{% include advertisements.html %}
</article>
</div>
</div>


{% include foot.html %}
</body>
</html>